.color{
    background-color: white;
    /* height:  775px; */
    height: 110vh;
    margin-left: 250px;
}

.mapColor{
    color: red;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .modal-content {
    width: 634px !important;
    height: 664px !important;
  }