.shadow {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    width: 650px !important;
    height: 555px !important;
    margin-top: 100px !important;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

  .main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
  }

  .fb{
color:  #0000FF;;
  }

  .google{
    color:  red;;
      }


      .col-lg-4 {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }

.title{
    padding-top: 25px;
    padding-bottom: 15px;
}